<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Geral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
    <script src="https://kit.fontawesome.com/55fcd42dc6.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/palette.css">
    <link rel="stylesheet" href="/css/componentes.css">
</head>

<body>
    <div class="header-corpo">
        <div class="row">
            <div class="col-md-12 col-sm-12 nav-header shadow-1">
                <div class="row">
                    <div class="col-md-2">
                        <div class='row'>
                            <div class="logo-g col-md-12">
                                <a href="#!" onclick="toggleSidebar()">
                                    <img src="./images/logo-primary.png" alt="" onclick="closeNav()">
                                </a>                        
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-4 search-input-sm">
                        <form action="#!" method="post">
                            <div class="search-header">
                                <input class="searching" type="search" name="" id="" placeholder="O que você está procurando?">
                                <button type="submit"><i class="fas fa-search"></i><!--<img src="./images/icons/procurar-primary.svg" alt=""
                                        id='icon-search'>--></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <div class="nav-header-menu">
                            <ul>
                                <li><a href="calendario.html"><i class="fas fa-calendar-alt"></i></a>
                                </li>
                                <li><a href="chat.html"><i class="fas fa-comments"></i></a></li>
                                <li><a href="carrinho.html"><i class="fas fa-shopping-bag"></i></i></a></li>
                                <li><a href="#!"><i class="fas fa-bell"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false"><%=usuario[0].email %></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/users">Ver perfil</a>
                                    <a class="dropdown-item" href="#">Configurações</a>
                                    <a class="dropdown-item" href="/profissionais">Mudar para conta profissional</a>
                                    <a class="dropdown-item" href="/login">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="menu-icons">
       
        <div class="nav-icon">
            <ul>
                <li><a href="#!"><i class="fas fa-camera-retro icon-color-primary"></i></a></li>
                <li><a href="#!"><i class="fas fa-rss  icon-color-primary"></i></a></li>
                <li><a href="#!"><i class="fas fa-bullhorn  icon-color-primary"></i></a></li>
                <li><a href="#!"><i class="fas fa-mail-bulk  icon-color-primary"></i></a></li>
                <li><a href="#!"><i class="fas fa-calendar-alt  icon-color-primary"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="" id="side-bar">
        
        <div class="nav-text">
            <ul>
                <li><a href="/portfolios">Portfólio</a></li>
                <li><a href="/posts">Feed geral</a></li>
                <li><a href="#!">Promoções</a></li>
                <li><a href="#!">Solicitações</a></li>
                <li><a href="agenda.html">Agenda</a></li>
            </ul>

        </div>
    </div>
    <div class="bg-ligth-color" id="main">