<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed Geral</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/55fcd42dc6.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/palette.css">
</head>
<body>
    <div class="menu-icons bg-gray-color">
        <div class="logo-g">
            <a href="#!" onclick="toggleSidebar()">
                <img src="./images/logo-primary.png" alt="" onclick="closeNav()">
            </a>                        
        </div>
        <div class="nav-icon">
            <ul>
                <li><a href="#!"><i class="fas fa-camera-retro icon-color-white"></i></a></li>
                <li><a href="#!"><i class="fas fa-rss icon-color-white"></i></a></li>
                <li><a href="#!"><i class="fas fa-bullhorn icon-color-white"></i></a></li>
                <li><a href="#!"><i class="fas fa-mail-bulk icon-color-white"></i></a></li>
                <li><a href="#!"><i class="fas fa-calendar-alt icon-color-white"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="bg-primary-color" id="side-bar">
        <div class="logo-growing">
            <a href="#!">
                <img src="./images/growing-logo-white.png" alt="">

            </a>
            
        </div>
        <div class="nav-text">
            <ul>
                <li><a href="feedGeralPortfolio.html">Portfólio</a></li>
                <li><a href="feedGeral.html">Feed geral</a></li>
                <li><a href="#!">Promoções</a></li>
                <li><a href="#!">Solicitações</a></li>
                <li><a href="agenda.html">Agenda</a></li>
            </ul>

        </div>
    </div>
    <div class="bg-ligth-color" id="main">
        <div class="header-corpo">
            <div class="row">
                <div class="col-md-12 col-sm-12 nav-header shadow-1">
                    <div class="row">
                        <div class="col-md-6 search-input-sm">
                            <form action="#!" method="post">
                                <div class="search-header">
                                    <input class="searching" type="search" name="" id="" placeholder="Busque aqui">
                                    <button type="submit"><img src="./images/icons/procurar-primary.png" alt="" id='icon-search'></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <div class="nav-header-menu">
                                <ul>
                                    <li><a href="calendario.html"><img src="./images/icons/calendario-gray.png" alt=""></a></li>
                                    <li><a href="chat.html"><img src="./images/icons/bate-papo-gray.png" alt=""></a></li>
                                    <li><a href="carrinho.html"><img src="./images/icons/supermercado-primary.png" alt=""></a></li>
                                    <li><a href="#!"><img src="./images/icons/sino-primary.png" alt=""></a></li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-md-3 avatar-hd-sm">
                            <a href="perfil-usuarioCons.html">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="usuario-header p-2 bd-highlight"><%=usuario.email %></div>
                                    <div class="usuario-header-div p-2 bd-highlight"></div>
    
                                </div>
                            </a>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
        
       
    