<%- include('./shared/header') %>

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div id='capa-usuario' class="bg-gradiente">
            <h2>Teste</h2>
        </div>
        <div class="row row-status">
            <div class="col-md-5" id='preferencias'>
                
            </div>
            <div class="col-md-4">
        
            </div>
            <div class="col-md-4">
        
            </div>
        
        </div>
    </div>

    <div class="col-md-4">

    </div>

</div>



<%- include('./shared/footer') %>