.menu_susp {
    width: 300px;
    height: auto;
    background: white;
    position: absolute;
    z-index: 100;
    top: 70%;
    margin-left: auto; /* metade do tamanho (negativo) */
    margin-right: auto;
    border-top: 2px solid #9F6F78;
    border-radius: 1px;
    background: #fffcfc;
    box-shadow: 2px 2px 2px 2px #888888;
    display: none;
}

.tag-transparente{
    background: #FFFFFF;
    border: 2px solid #9F6F78;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 10px;
    line-height: 18px;
    padding: 3px;
    margin: 1px;
    /* identical to box height */

    color: #9F6F78;
}

.botao-solicitacao{
    display: block;
    width: 338px;
    height: 42px;
    border: 0;
    margin-top: 10px;
    position: relative;
    left: 534px;
}

.botao-enviar{
    width: 139px;
    height: 29px;
    border: 0;
    position: relative;
    top: 10px;
    left: 570px;

    
}

.card-post{
    margin-top: 35px;
    padding: 7px;
    width: 900px;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
}


.card-post-feedGeral{
    margin-top: 90px;
    padding: 7px;
    width: 900px;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.menu-status{
    list-style: none;
    position: relative;
    left: 490px;
}

.menu-status li{
    display: inline-block;
    font-size:11pt;
}
/* 
#menu-criar-status a{
    margin-left: 50%;
} */


.menu-postagem{
    position: absolute;
    border-radius: 7px;
    width: 300px;
    box-shadow: 0 0 10px #cccccc;
    padding: 3px;
    left: -179px;
    display: none;
    z-index: 60;
}

.menu-postagem.active{
    display: block;
}

.menu-postagem ul li a{
    text-decoration: none;
    color: #383838
}

.btn-menu-coment{
    position: absolute;
    right: -26px;
    top: 16px;
}


.menu-coment{
    position: absolute;
    border-radius: 7px;
    width: 300px;
    box-shadow: 0 0 10px #cccccc;
    padding: 3px;
    right: -32px;
    top: 41px;
    display: none;
    z-index: 60;
}

.menu-coment.active{
    display: block;
}

.menu-coment ul li a{
    text-decoration: none;
    color: #383838
}

.menu-perfil{
    position: absolute;
    border-radius: 7px;
    width: 300px;
    box-shadow: 0 0 10px #cccccc;
    padding: 3px;
    left: -179px;
    display: none;
    z-index: 60;
    left: -43px;
    top: 42px;
}
.menu-perfil ul li a {
    color:#9F6F78;
    text-decoration: none;
}
.menu-perfil ul li a i{
    color:#9F6F78;
}

.menu-perfil.visivel{
    display: block;
}


@media (min-width: 1440px){
    .card-post{
        margin-top: 35px;
        padding: 7px;
        width: 820px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-post-feedGeral{
        margin-top: 90px;
        padding: 7px;
        width: 820px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #capa-usuario{
        width: 820px;
    }

    .row-status{
        width: 820px;
    }

    .botao-solicitacao{
        left: 454px;
    }
}


@media (min-width: 1300px){
    .card-post{
        margin-top: 35px;
        padding: 7px;
        width: 750px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-post-feedGeral{
        margin-top: 90px;
        padding: 7px;
        width: 750px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #capa-usuario{
        width: 750px;
    }

    .row-status{
        width: 750px;
    }

    .botao-solicitacao{
        left: 380px;
    }
   
}