.menu_susp {
    width: 300px;
    height: auto;
    background: white;
    position: absolute;
    z-index: 100;
    top: 70%;
    margin-left: auto; /* metade do tamanho (negativo) */
    margin-right: auto;
    border-top: 2px solid #9F6F78;
    border-radius: 1px;
    background: #fffcfc;
    box-shadow: 2px 2px 2px 2px #888888;
    display: none;
}

.tag-transparente{
    background: #FFFFFF;
    border: 2px solid #9F6F78;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 325;
    font-size: 10px;
    line-height: 18px;
    padding: 3px;
    margin: 1px;
    /* identical to box height */

    color: #9F6F78;
}

.botao-solicitacao{
    display: block;
    width: 338px;
    height: 42px;
    border: 0;
    margin-top: 10px;
    position: relative;
    left: 568px;
}

.botao-enviar{
    width: 139px;
    height: 29px;
    border: 0;
    position: relative;
    top: 10px;
    left: 570px;

    
}

.card-post{
    margin-top: 35px;
    margin-left: 10px;
    padding: 7px;
    width: 900px;
    height: auto;
}

.menu-status{
    list-style: none;
    position: relative;
    left: 490px;
}

.menu-status li{
    display: inline-block;
    font-size:11pt;
}

#menu-criar-status a{
    margin-left: 50%;
}

